include VERSION
include README.*
include LICENSE.*

graft pyspssio/spssio/document
graft pyspssio/spssio/include
graft pyspssio/spssio/license
graft pyspssio/spssio/win64
graft pyspssio/spssio/macos
graft pyspssio/spssio/lin64
